{
  "option_settings": [
    {
      "namespace": "aws:elasticbeanstalk:application:environment",
      "option_name": "REACT_APP_CLOUDINARY_CLOUD_NAME",
      "value": "`{ \"Ref\" : \"REACT_APP_CLOUDINARY_CLOUD_NAME\" }`"
    },
    {
      "namespace": "aws:elasticbeanstalk:application:environment",
      "option_name": "REACT_APP_FACEBOOK_URL",
      "value": "`{ \"Ref\" : \"REACT_APP_FACEBOOK_URL\" }`"
    },
    {
      "namespace": "aws:elasticbeanstalk:application:environment",
      "option_name": "REACT_APP_LINKEDIN_URL",
      "value": "`{ \"Ref\" : \"REACT_APP_LINKEDIN_URL\" }`"
    },
    {
      "namespace": "aws:elasticbeanstalk:application:environment",
      "option_name": "REACT_APP_GITHUB_URL",
      "value": "`{ \"Ref\" : \"REACT_APP_GITHUB_URL\" }`"
    }
  ]
}
