files:
  "/home/ec2-user/precompile-assets.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      docker run -e REACT_APP_CLOUDINARY_CLOUD_NAME=$REACT_APP_CLOUDINARY_CLOUD_NAME \
      -e REACT_APP_FACEBOOK_URL=$REACT_APP_FACEBOOK_URL \
      -e REACT_APP_LINKEDIN_URL=$REACT_APP_LINKEDIN_URL \
      -e REACT_APP_GITHUB_URL=$REACT_APP_GITHUB_URL \
      nicholefrey/zensite

container_commands:
  01_precompile_assets:
    command: /home/ec2-user/precompile-assets.sh
    leader_only: true
